/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	_switch.scss
 * Date: 	21/05/2020
 * Time: 	16:10
 */

@import "../../common/variables";

.tab-config {
	.field {
		.select {
			cursor: pointer;
			
			.value {
				background: $cBlackTransparentHigh;
				color: $cWhite;
				border-radius: 0;
				box-shadow: none;
				border: 1px solid $cGray;
				min-width: 6rem;
				transition: all .3s ease-in-out;
				
				&:hover, &:focus {
					border-color: $cRed;
					background: transparentize($cRed, .5);
					transition: all .1s ease-in-out;
				}
			}
			
		}
	}
}
