/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	_tab-config.scss
 * Date: 	21/05/2020
 * Time: 	15:22
 */

@import "../../common/variables";

.tab-config {
	.field {
		border-bottom: 1px solid transparentize($cGray, 0.5);
		
		&:hover {
			background: transparentize($cGray, 0.5);
			cursor: pointer;
		}
	}
}
