/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	_bars.scss
 * Date: 	20/04/2020
 * Time: 	17:54
 */

.speed-area, .fuel-level {
	.bars {
		@include prefixer( display, flex, ("webkit", "moz", "o") );
		@include prefixer( justify-content, center, ("webkit", "moz", "o") );
		@include prefixer( align-items, center, ("webkit", "moz", "o") );
		width: 100%;
		
		.bar {
			margin: .1rem;
			height: 4px;
			width: 1rem;
			background: $cBlackTransparentHigh;
			
			&.active {
				background: $cWhiteGray;
			}
		}
	}
}
