@import "../../style/abstracts/variables";
@import "../../style/vendors/bootstrap";

.nav-item > .nav-link{
	background: $color-black-light-5;
	
	i[class^=icon] {
		font-size: 1.4rem;
	}
	
	&.active{
		background: $gradient-accent;
	}
}
