/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	variables.scss
 * Date: 	06/04/2020
 * Time: 	18:42
 */

// TODO Remove it
@import "~bourbon/core/bourbon";

// -----------------------------------------
// --- Common

// --- Color

$cBlack: #002b36;
$cBlack2:  #272727;
$cBlackTransparentMid: lighten($cBlack, 0.5);
$cBlackTransparentHigh: lighten($cBlack, 3%);
$cWhite: #eee8d5;
$cWhiteGray: #eaeaea;
$cRed: #dc322f;
$cOrange: #cb4b16;
$cGreen: #00E070;
$cGray: lighten($cBlack, 15%);
$cYellow: #f5bb00;
$cBlue: #26d2e2;


// -----------------------------------------
// --- Elements

// --- Dash element

$deSkew: 20deg;
$deSkewLeft: $deSkew;
$deSkewRight: - $deSkew;
$deHeight: 2.5rem;
$deMultilineHeight: 3.9rem;
$deMargin: .2rem;

// --- Icons items

$iiWidth: 2.2rem;
$iiColor: #212223;
$iiNbBarSkew: 4;
