/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	test.scss
 * Date: 	01/05/2020
 * Time: 	17:40
 */

@import "~bourbon/core/bourbon";

.maps {
	&.wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		position: relative;
	}
}
