/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	test.scss
 * Date: 	01/05/2020
 * Time: 	17:40
 */

@import "~bourbon/core/bourbon";
@import "../../../../assets/scss/common/variables";

.maps {
	background: #303030;
	
	&.wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		position: relative;
		
		.ol-control {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			position: absolute;
			right: .3rem;
			bottom: .3rem;
			height: 2rem;
			
			button {
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				color: $cWhite;
				border: 0;
				border-bottom: 2px solid $cRed;
				background: $cBlackTransparentMid;
				font-size: 1.5rem;
				padding: 0 0 .1rem 0;
				margin-right: .15rem;
				outline: 0;
				width: 2rem;
				height: 2rem;
				
				&:last-child {
					margin-right: 0;
				}
			}
		}
		
		#rotate-wrapper {
			position: absolute;
			right: .3rem;
			width: auto;
			top: .3rem;
			
			button {
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				font-size: .9rem;
				
				i {
					padding: .2rem 0 0 0;
				}
				
				&:not(.enable) {
					background: $cBlackTransparentHigh;
					border-color: $cGray;
					color: $cGray;
				}
			}
		}
		
		#eta {
			
			position: absolute;
			left: .3rem;
			width: auto;
			bottom: .3rem;
			
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			font-size: 1rem;
			color: $cWhite;
			border: 0;
			border-bottom: 2px solid $cRed;
			background: $cBlackTransparentMid;
			padding: .5rem 0.5rem;
			margin-right: .15rem;
			outline: 0;
			//width: 1.5rem;
			height: 2rem;
		}
		
		#speed-limit {
			position: absolute;
			left: .3rem;
			width: auto;
			top: .3rem;
			
			span {
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				background: $cWhite;
				border: .3rem solid $cRed;
				border-radius: 100%;
				width: 3rem;
				height: 3rem;
				color: $cBlack;
				font-weight: bold;
				font-size: 1.2rem;
			}
		}
		
		.ol-mouse-position {
			position: absolute;
			width: 5rem;
			height: 5rem;
			left: 5rem;
			top: 5rem;
			background: $cBlackTransparentMid;
		}
	}
}
