@import "../../style/abstracts/variables";
@import "../../style/abstracts/effects";
@import "../../style/vendors/bootstrap";

nav.navbar {
	.navbar-brand {
		border-radius: $border-radius;
		background: $gradient-accent;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.discrete-button {
	&.btn {
		border: 0;
	}
	
	.show-navbar {
		font-size: 1.5rem;
	}
}
