@import "../../style/abstracts/variables";
@import "../../style/abstracts/effects";
@import "../../style/vendors/bootstrap";

nav.navbar {
	.navbar-brand {
		border-radius: $border-radius;
		background: $gradient-accent;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}