/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	_tab-config.scss
 * Date: 	21/05/2020
 * Time: 	15:22
 */

.menu-tab-config {
	h3 {
		color:         $cWhite;
		border-bottom: 2px solid $cRed;
		background:    $cBlackTransparentMid;
		margin-bottom: 1rem;
		
		.more {
			font-size: .8rem;
			cursor:    pointer;
			
			&:hover {
				color: $cWhite;
			}
		}
	}
	
	.field {
		border-bottom: 1px solid transparentize($cGray, 0.5);
		
		&:last-child {
			border-bottom: none;
		}
		
		&:hover {
			background: transparentize($cGray, 0.5);
			cursor: pointer;
		}
	}
}
