/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	map.scss
 * Date: 	07/07/2021
 * Time: 	20:41
 */

.map-shared {
	background: #303030;
	
	&.wrapper {
		display:         flex;
		justify-content: center;
		align-items:     center;
		text-align:      center;
		position:        relative;
		
		.loader {
			position:   absolute;
			background: $cBlackTransparentMid;
		}
		
		.barControls{
			display: flex;
			justify-content: center;
			align-content: center;
			position: absolute;
			bottom: 0px;
			width: 100%;
			background: $cBlack;
			
			&.embedded{
				justify-content: flex-end;
				.barZone{
					width: auto;
					&.embedded{ width: 100%; }
				}
			}
			
			.barZone {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				
				&.spacer {
					width: 36rem;
					background: $cBlackTransparentHigh;
				}
				
				.barButton{
					background: $cBlackTransparentHigh;
					display: flex;
					justify-content: center;
					align-items: center;
					outline: 0;
					font-size: 1.9rem;
					
					border: 2px solid $cRed;
					border-width: 0 0 2px 0;
					
					min-width: auto !important;
					
					.round > i { display: block; }
					
					&.active{
						background: $cBlack;
					}
					
					&.blue {
						color: $cBlue;
						border-color: $cBlue;
					}
					
					&.orange {
						color: $cOrange;
						border-color: $cOrange;
					}
					
					&.green {
						color: $cGreen;
						border-color: $cGreen;
					}
					
					&.default, &.white {
						color: $cWhiteGray;
						border-color: $cRed;
					}
					
					&.disabled {
						color: $cGray;
						border-color: $cGray;
						border-right-color: transparent !important;
						border-left-color: transparent !important;
					}
					
					&.fuel { min-width: 10rem !important; }
					&.cruise-control { min-width: 13rem !important; }
					
					&.menuControl {
						border-width: 0 2px 2px 0;
					}
					
					&.menuRoute{
						border-width: 0 0 2px 2px;
					}
				}
			}
		}
		
		#controls-wrapper, .ol-zoom, .eta-wrapper, #speed-area {
			display:         flex;
			justify-content: center;
			align-items:     flex-end;
			text-align:      center;
			height:          2.2rem;
			
			button, .button{
				background: $cBlackTransparentHigh;
				display: flex;
				justify-content: center;
				align-items: center;
				outline: 0;
				font-size: 1.9rem;
				font-size: 1.9rem;
				
				border-right: 2px solid $cRed;
				
				min-width: auto !important;
				
				.round > i { display: block; }
				&:last-child { margin-right: 0; }
				
				&.active{
					background: $cBlack;
				}
				
				&.disabled {
					color: $cGray;
					border-color: $cGray;
				}
			}
		}
		
		#controls-wrapper {
			
			position: absolute;
			right:    0;
			bottom:   0;
			height:   auto;
			width:    auto;
			z-index:  2;
			margin-bottom: 3rem;
			
			#ol-zoom-wrapper {
				width: 100%;
				
				.ol-zoom {
					display: block;
					height:  100%;
				//
					.ol-zoom-in, .ol-zoom-out {
						color: $cWhite;
						width: 100%;
						border: 0;
						background: $cBlackTransparentHigh;
						display: flex;
						justify-content: center;
						align-items: center;
						outline: 0;
						font-size: 1.9rem;
						
						border-right: 2px solid $cRed;
						
						min-width: auto !important;
						
						.round > i { display: block; }
					}
				}
			}
			
		}
		
		.eta-wrapper {
			height:   inherit;
			position: absolute;
			left:     0;
			width:    auto;
			bottom:   0;
			margin-bottom: 3rem;
			
			.button{
				border-left: 2px solid $cRed;
				border-right: 0;
			}
		}
		
		#mapInfoOverlay {
			position:      absolute;
			width:         auto;
			right:         .3rem;
			top:           .3rem;
			color:         $cWhite;
			background:    $cBlackTransparentMid;
			padding:       .5rem;
			border:        1px solid $cRed;
			z-index:       2;
			border-radius: .5rem;
			
			h5 {
				display:         flex;
				margin:          0;
				justify-content: center;
				align-items:     center;
				
				> span { width: 100%;}
				
				> i { font-size: .7rem; padding: .2rem; }
			}
			
			hr {
				display:      block;
				border-color: $cGray;
				margin:       .5rem 0;
			}
			
			table {
				font-size: .8rem;
				
				th { text-align: right; padding-right: .2rem; }
				
				td { text-align: left; padding-left: .2rem;}
			}
		}
		
		#speed-limit {
			position: absolute;
			width:    auto;
			left:     .3rem;
			top:      .3rem;
			
			span {
				display:         flex;
				justify-content: center;
				align-items:     center;
				text-align:      center;
				background:      $cWhite;
				border:          .3rem solid $cRed;
				border-radius:   100%;
				width:           3.2rem;
				height:          3.2rem;
				color:           $cBlack;
				font-weight:     bold;
				font-size:       1.5rem;
			}
		}
		
		#speed-area {
			position: absolute;
			bottom:   0;
			height:   auto;
			
			.button {
				background: $cBlack;
				border-top: 2px solid $cRed;
				height:  auto;
				padding: .3rem;
				z-index: 1;
				width: 11rem;
				border-right: 0;
			}
			
			.speed {
				.value {
					font-family: suprrpg !important;
					@include prefixer(transform, skew(19deg, 0deg), ("webkit", "moz", "o"));
					font-size:   2.5rem;
					line-height: 2.3rem;
				}
				
				.unit { font-size: .7rem; }
				
				width: 5.5rem;
			}
			
			.truck-gears {
				line-height: 1.4rem;
				background:  $cWhiteGray;
				color:       $cRed;
				padding:     .3rem;
				height:      inherit;
				font-weight: bold;
				font-size:   1.5rem;
				width: 3.5rem;
				
				&.hshifter {
					&:first-letter{
						color: $cBlack;
					}
				}
			}
			
			&:before {
				content:     " ";
				position:    relative;
				bottom:      0;
				width:       2rem;
				height:      3rem;
				padding:     .3rem;
				left:        0;
				background:  $cBlack;
				border-left: 2px solid $cRed;
				border-top:  2px solid $cRed;
				@include prefixer(transform-origin, bottom left, ("webkit", "moz", "o"));
				@include prefixer(transform, skew(-30deg, 0deg), ("webkit", "moz", "o"));
			}
			
			&:after {
				content:      " ";
				position:     relative;
				bottom:       0;
				width:        2rem;
				height:       3rem;
				padding:      .3rem;
				right:        0;
				background:   $cBlack;
				border-right: 2px solid $cRed;
				border-top:   2px solid $cRed;
				@include prefixer(transform-origin, bottom left, ("webkit", "moz", "o"));
				@include prefixer(transform, skew(30deg, 0deg), ("webkit", "moz", "o"));
			}
		}
		
		.ol-mouse-position {
			position:   absolute;
			width:      5rem;
			height:     5rem;
			left:       5rem;
			top:        5rem;
			background: transparentize($cBlackTransparentMid, .3);;
		}
	}
}
