@import "../../../style/abstracts/variables";
@import "../../../style/abstracts/mixins";
@import "../../../style/abstracts/effects";
@import "../../../style/vendors/bootstrap";

.about-tab {
	.avatar {
		width: $width-avatar;
		
		img	{
			width: $width-avatar;
		}
		
		@include border-gradient( $gradient-accent, 3px );
	}
	
	.author {
		font-size: .9rem;
		overflow: hidden;
		
		.text {
			background-image: $gradient-accent;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	
	.version {
		position: relative;
		border-radius: $border-radius;
		margin-bottom: 2rem;
		color: $color-white;
		
		&.new-version {
			margin-bottom: 4rem !important;
		}
		
		.message {
			font-size: 1rem;
			display: block;
			position: absolute;
			width: 8rem;
			text-align: center;
			white-space: inherit;
			bottom: -2rem;
			right: -3rem;
			line-height: 1;
		}
	}
}