@import "../../../style/abstracts/variables";
@import "../../../style/vendors/bootstrap_configuration";

.badge {
	border: 1px solid transparent;

	> .icon {
		background: $gradient-accent;
		border-radius: $border-radius;
		color: $color-white;
		padding: .5rem;
	}

	> .text {
		padding: .2rem 1rem .2rem .5rem;
	}
	
	&.right {
		> .text {
			padding: .2rem .5rem .2rem 1rem;
		}
	}
}