/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	_input.scss
 * Date: 	09/04/2021
 * Time: 	13:51
 */

.field {
	.input {
		.input-zone {
			cursor:        pointer;
			
			background:    $cBlackTransparentHigh;
			color:         $cWhite;
			border-radius: 0;
			box-shadow:    none;
			border:        1px solid $cGray;
			min-width:     15rem;
			transition:    all .3s ease-in-out;
			
			&:hover:not(.prefix), &:focus {
				border-color: $cRed;
				background:   transparentize($cRed, .5);
				transition:   all .1s ease-in-out;
			}
			
			&.prefix, &.valid {
				min-width:       auto;
				padding:         0 .5rem;
				cursor:          inherit;
				display:         flex;
				justify-content: center;
				align-items:     center;
			}
			
			&.prefix {
				border-right: none;
			}
			
			&.valid {
				border-left: none;
			}
			
			&[disabled="disabled"] {
				background: $cBlackTransparentHigh !important;
				color: $cWhiteGray !important;
				border-color: $cWhiteGray !important;
				cursor: not-allowed;
			}
		}
		
		&.processing, &.processing > .value {
			border-color: lighten(#000, 40%);
			background:   transparentize(lighten(#000, 75%), .95);
			transition:   all .1s ease-in-out;
		}
	}
}
