/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	game.scss
 * Date: 	21/04/2020
 * Time: 	22:27
 */

@import "../common/variables";

.game {
	background: #272727;
	font-size: .7rem;
	border-bottom: 1px solid $cRed;
	//margin-bottom: .5rem;
	height: 2rem;
	@include prefixer(display, flex, ("webkit", "moz", "o"));
	@include prefixer(justify-content, space-between, ("webkit", "moz", "o"));
	z-index: 1;
	
	ul {
		@include prefixer(display, flex, ("webkit", "moz", "o"));
		@include prefixer(justify-content, space-between, ("webkit", "moz", "o"));
		@include prefixer(align-items, center, ("webkit", "moz", "o"));
		margin: 0;
		width: 100%;
		
		li {
			list-style: none;
			padding: 0.5rem 1rem;
			//min-width: 9rem;
			//max-width: 9rem;
			
			span {
				padding: .2rem .5rem;
				background: $cRed;
				color: $cWhite;
				border-radius: 1rem;
				margin-right: .5rem;
			}
			
			&.new-release a {
				color: $cWhite;
			}
		}
		
		&:last-child {
			@include prefixer(flex-direction, row-reverse, ("webkit", "moz", "o"));
			
			& > li > span {
				margin-right: 0;
				margin-left: .5rem;
			}
		}
	}
	
	.game-time {
		width: 100%;
		min-width: 15rem;
		@include prefixer(display, flex, ("webkit", "moz", "o"));
		@include prefixer(justify-content, center, ("webkit", "moz", "o"));
		@include prefixer(align-items, center, ("webkit", "moz", "o"));
		font-size: 1.3rem;
	}
}

.info div span:nth-child(1) {
	font-weight: bold;
}
