/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	_nav-element.scss
 * Date: 	09/04/2020
 * Time: 	18:20
 */

@import "mixins/mixins-dash-symbol";
@import "../common/variables";

.dash-symbol-area {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-bottom: .5rem;
	
	.dash-symbol-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		
		.dash-symbol {
			width: $iiWidth;
			height: $iiWidth;
			border: 2px solid;
			background: $cBlackTransparentHigh;
			border-bottom: none;
			margin-bottom: .5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			color: $cGray;
			
			span {
				padding-top: .3rem;
				
				& > * {
					width: 100%;
					height: 100%;
					padding: 0.3rem;
					font-size: 1.3rem;
				}
			}
			
			&:last-child {
				margin-bottom: 0;
			}
			
			@include dashSymbol('red', $cRed);
			@include dashSymbol('green', $cGreen);
			@include dashSymbol('orange', $cOrange);
			@include dashSymbol('blue', $cBlue);
			@include dashSymbol('disabled', $cGray);
			
			&.left {
				transform: skew($deSkewLeft);
				border-left: none;
				border-image: linear-gradient(
						45deg,
						transparent,
						$cGray
				) 1;
				
				span {
					transform: skew($deSkewRight);
				}
				
				@for $i from 1 through 2 {
					&:nth-child(#{$i}) {
						$marginElm: ( $i - 1 ) * 1.8rem;
						margin-left: $marginElm;
					}
				}
			}
			
			&.right {
				transform: skew($deSkewRight);
				border-right: none;
				border-image: linear-gradient(
						-45deg,
						transparent,
						$cGray
				) 1;
				
				span {
					transform: skew($deSkewLeft);
				}
				
				@for $i from 1 through 2 {
					&:nth-child(#{$i}) {
						$marginElm: ( $i - 1 ) * 1.8rem;
						margin-right: $marginElm;
					}
				}
			}
		}
	}
}
