/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	_nav-element.scss
 * Date: 	09/04/2020
 * Time: 	18:20
 */

@import "mixins-nav-element";

.nav-bottom {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-bottom: .5rem;
	
	.nav-element-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		
		.nav-element {
			width: var(--nav-element-width);
			height: var(--nav-element-width);
			border: 2px solid;
			background: var(--color-border);
			border-bottom: none;
			margin-bottom: .5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			color: var(--color-gray);
			
			span > img {
				width: 100%;
				height: 100%;
				padding: 0.3rem;
			}
			
			&:last-child {
				margin-bottom: 0;
			}
			
			@include navElm( 'red', var(--color-red) );
			@include navElm( 'green', var(--color-green) );
			@include navElm( 'orange', var(--color-orange) );
			@include navElm( 'blue', var(--color-blue) );
			
			
			/* TODO Set different color */
			
			&.left {
				transform: skew(var(--dash-element-skew-left));
				border-left: none;
				border-image: linear-gradient(
						45deg,
						transparent,
						var(--color-gray)
				) 1;
				
				span {
					transform: skew(var(--dash-element-skew-right));
				}
				
				@for $i from 1 through 2 {
					&:nth-child(#{$i}) {
						$marginElm: ( $i - 1 ) * 1.8rem;
						margin-left: $marginElm;
					}
				}
			}
			
			&.right {
				transform: skew(var(--dash-element-skew-right));
				border-right: none;
				border-image: linear-gradient(
						-45deg,
						transparent,
						var(--color-gray)
				) 1;
				
				span {
					transform: skew(var(--dash-element-skew-left));
				}
				
				@for $i from 1 through 2 {
					&:nth-child(#{$i}) {
						$marginElm: ( $i - 1 ) * 1.8rem;
						margin-right: $marginElm;
					}
				}
			}
		}
	}
}
