/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	_rpm_bars.scss
 * Date: 	20/04/2020
 * Time: 	17:49
 */

@import "mixins/mixins-rpm";
@import "../common/variables";
@import "common/bars";

$sizeSide: 3rem;
$heightSide: 5rem;

.speed-wrapper {
	.left, .right {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		& > span {
			font-size: 1rem;
		}
		
		.bars {
			//flex-direction: column;
			display: block;
			width: 100%;
			perspective: 100px;
			
			.bar {
				height: .2rem;
				width: 1rem;
				margin: 2px 0 0;
				transform-style: preserve-3d;
				
				@include rpmBar('red', $cRed);
				@include rpmBar('blue', $cBlue);
				@include rpmBar('green', $cGreen);
			}
		}
	}
	
	.left {
		width: 100%;
		max-width: $sizeSide;
		min-width: $sizeSide;
		flex-direction: row-reverse;
		
		& > span {
			writing-mode: vertical-rl;
			text-orientation: upright;
			transform: translateX(-.3rem);
		}
		
		.bars {
			//align-items: flex-start;
			
			.bar {
				transform: rotateY(45deg);
				
				@for $i from 1 through $iiNbBarSkew {
					&:nth-child(0n+#{$i}) {
						$j: ( $iiNbBarSkew + 1 ) - $i;
						
						$spaceZ:  ( 0.3rem * ( $j - 1 ) );
						$spaceY:  -( 0.15rem * ( $j - 1 ) );
						transform: rotateY(45deg) rotateX(-60deg) translateZ($spaceZ) translateY($spaceY) translateX( .1rem );
					}
				}
				
				// .3 .2
				@for $i from 1 through $iiNbBarSkew {
					$k: ( $iiNbBarSkew - $i ) + 1;
					&:nth-last-child(-n+#{$k}) {
						$j: ( $iiNbBarSkew + 1 ) - $k;
						$spaceZ:  ( 0.3rem * ( $j - 1 ) );
						$spaceY:  ( 0.2rem * ( $j - 1 ) );
						transform: rotateY(45deg) rotateX(60deg) translateZ($spaceZ) translateY($spaceY) translateX( .1rem );
					}
				}
			}
		}
	}
	
	.right {
		width: 100%;
		max-width: $sizeSide;
		min-width: $sizeSide;
		
		& > span {
			writing-mode: vertical-rl;
			text-orientation: upright;
			transform: translateX(.3rem);
		}
		
		.bars {
			//align-items: flex-end;
			
			.bar {
				transform: rotateY(-45deg);
				
				//margin-left: 0.3rem;
				
				@for $i from 1 through $iiNbBarSkew {
					&:nth-child(0n+#{$i}) {
						$j: ( $iiNbBarSkew + 1 ) - $i;
						
						$spaceZ:  ( 0.3rem * ( $j - 1 ) );
						$spaceY:  -( 0.15rem * ( $j - 1 ) );
						transform: rotateY(-45deg) rotateX(-60deg) translateZ($spaceZ) translateY($spaceY) translateX( -.1rem );
					}
				}
				
				// .3 .2
				@for $i from 1 through $iiNbBarSkew {
					$k: ( $iiNbBarSkew - $i ) + 1;
					&:nth-last-child(-n+#{$k}) {
						$j: ( $iiNbBarSkew + 1 ) - $k;
						$spaceZ:  ( 0.3rem * ( $j - 1 ) );
						$spaceY:  ( 0.2rem * ( $j - 1 ) );
						transform: rotateY(-45deg) rotateX(60deg) translateZ($spaceZ) translateY($spaceY) translateX( -.1rem );
					}
				}
			}
		}
	}
}
