/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	navigation.scss
 * Date: 	06/04/2020
 * Time: 	20:14
 */

@import "../common/variables";
@import "truck-gear";
@import "speed";
@import "odometer";
@import "speedLimits";
@import "dash-symbol";

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	
	.icons-item-wrappers {
		width: 100%;
	}
}
