/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	jagfx.scss
 * Date: 	01/05/2020
 * Time: 	16:51
 */

@import "../../../../assets/scss/common/variables";

@import "common/font-face";
@import "common/common";

.jagfx {
	&.wrapper {
		@include brandTruckBackground('volvo');
		@include brandTruckBackground('scania');
		@include brandTruckBackground('daf');
		@include brandTruckBackground('iveco');
		@include brandTruckBackground('man');
		@include brandTruckBackground('mercedes');
		@include brandTruckBackground('renault');
		@include brandTruckBackground('intnational');
		@include brandTruckBackground('kenworth');
		@include brandTruckBackground('mack');
		@include brandTruckBackground('peterbilt');
		@include brandTruckBackground('westernstar');
	}
	
	.dashboard {
		position: absolute;
		transform-origin: top left;
		left: 50%;
		top: 50%;
		@include prefixer(display, flex, ("webkit", "moz", "o"));
		@include prefixer(justify-content, center, ("webkit", "moz", "o"));
		@include prefixer(align-items, center, ("webkit", "moz", "o"));
	}
}
