/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	test.scss
 * Date: 	01/05/2020
 * Time: 	17:40
 */

@import "scania/variable";

.scania-dash {
	@import "scania/display";
	@import "scania/menu";
	@import "scania/bar";
	@import "scania/symbols";
	
	background: #3a3b3d;
	
	.flex-area {
		display:         flex;
		justify-content: center;
		align-items:     center;
	}
	
	.wrapper-area {
		display:         flex;
		justify-content: center;
		align-items:     center;
		
		> span {
			line-height: inherit;
		}
	}
	
	.dashboard {
		position:         absolute;
		background:       url("/img/dashboard/scania/background.jpg") top left no-repeat;
		transform-origin: top left;
		left:             50%;
		top:              50%;
	}
	
	@font-face {
		font-family: "DSDIGI";
		src:         url("/font/dashboard/scania/DSDIGI.eot");
		src:         local("DSDIGI"), url("/font/dashboard/scania/DSDIGI.woff") format("woff"), url("/font/dashboard/scania/DSDIGI.ttf") format("truetype");
	}
	@font-face {
		font-family: "ARCADECLASSIC";
		src:         url("/font/dashboard/scania/ARCADECLASSIC.eot");
		src:         local("ARCADECLASSIC"), url("/font/dashboard/scania/ARCADECLASSIC.woff") format("woff"), url("/font/dashboard/scania/ARCADECLASSIC.ttf") format("truetype");
		font-family: "LEVIWINDOWS";
		src:         url("/font/dashboard/scania/LEVIWINDOWS.ttf");
		src:         local("LEVIWINDOWS"), url("/font/dashboard/scania/LEVIWINDOWS.ttf") format("truetype");
		font-family: "high_pixel-7";
		src:         url("/font/dashboard/scania/high_pixel-7.ttf");
		src:         local("high_pixel-7"), url("/font/dashboard/scania/high_pixel-7.ttf") format("truetype");
		font-family: "Pixel";
		src:         url("/font/dashboard/scania/Pixel.ttf");
		src:         local("Pixel"), url("/font/dashboard/scania/Pixel.ttf") format("truetype");
	}
	
	.truck-speed[data-type="meter"] {
		position:         fixed;
		left:             1495px;
		top:              199px;
		width:            79px;
		height:           299px;
		background-image: url("/img/dashboard/scania/gauge-arrow.png");
		transform:        rotate(-120deg);
		transform-origin: 50% 244px;
	}
	
	.truck-engineRpm {
		position:         fixed;
		left:             278px;
		top:              199px;
		width:            79px;
		height:           299px;
		background-image: url("/img/dashboard/scania/gauge-arrow.png");
		transform:        rotate(-120.5deg);
		transform-origin: 50% 244px;
	}
	
	.truck-fuel {
		position:         fixed;
		left:             1418px;
		top:              784px;
		width:            62px;
		height:           171px;
		background-image: url("/img/dashboard/scania/gauge-arrow-s.png");
		transform:        rotate(-56deg);
		transform-origin: 50% 140px;
	}
	
	.truck-waterTemperature {
		position:         fixed;
		left:             374px;
		top:              790px;
		width:            62px;
		height:           171px;
		background-image: url("/img/dashboard/scania/gauge-arrow-s.png");
		transform:        rotate(-56deg);
		transform-origin: 50% 140px;
	}
	
	.truck-oilPressure {
		position:         fixed;
		left:             1502px;
		top:              530px;
		width:            69px;
		height:           170px;
		background-image: url("/img/dashboard/scania/gauge-arrow-s2.png");
		transform:        rotate(-57deg);
		transform-origin: 50% 133px;
	}
	
	.truck-fuelAverageConsumption[data-type="meter"] {
		position:                 fixed;
		left:                     283px;
		top:                      533px;
		width:                    69px;
		height:                   170px;
		background-image:         url("/img/dashboard/scania/gauge-arrow-s2.png");
		-webkit-transform:        rotate(-56deg);
		-moz-transform:           rotate(-56deg);
		-ms-transform:            rotate(-56deg);
		-o-transform:             rotate(-56deg);
		transform:                rotate(-56deg);
		-webkit-transform-origin: 50% 133px;
		-moz-transform-origin:    50% 133px;
		-ms-transform-origin:     50% 133px;
		-o-transform-origin:      50% 133px;
		transform-origin:         50% 133px;
	}
	
	.truck-fuelAverageConsumption {
		-webkit-filter: brightness(20%);
		-webkit-filter: brightness(150%);
	}
	
	.symbol {
		position:    fixed;
		width:       79px;
		height:      79px;
		font-size:   5rem;
		line-height: 0;
	}
	
	.oilPressure {
		position:    fixed;
		left:        836px;
		top:         503px;
		width:       180px;
		height:      21px;
	}
	
	.frontAxleLoad {
		font-family: Arial;
		font-size:   48px;
		position:    fixed;
		left:        760px;
		top:         537px;
		width:       100px;
		height:      41px;
	}
	
	.rearAxleLoad {
		font-family: Arial;
		font-size:   48px;
		position:    fixed;
		left:        858px;
		top:         537px;
		width:       100px;
		height:      41px;
		opacity:     1;
	}
	
	.trailerAxleLoad {
		font-family: Arial;
		font-size:   48px;
		position:    fixed;
		left:        1028px;
		top:         537px;
		width:       100px;
		height:      41px;
	}
	
	.totalmass {
		color:       $cWhite;
		font-family: Arial;
		font-size:   48px;
		position:    fixed;
		left:        839px;
		top:         353px;
		width:       261px;
		height:      84px;
	}
}
