/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	_trailer.scss
 * Date: 	22/04/2020
 * Time: 	13:00
 */
@import "../common/variables";

.trailer {
	
	.t-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 4.5rem;
		flex-direction: column;
		padding: 0 0 .5rem 0;
		
		
		.trailer-data {
			width: 100%;
			padding: 0 1rem;
			display: flex;
			justify-content: space-between;
			
			.job {
				height: 100%;
				text-align: center;
				
				&.disabled {
					color: $cGray;
				}
			}
			
			> * {
				display: block;
				
			}
		}
		
		.job-data {
			width: 100%;
			padding: 0 1rem;
			display: flex;
			justify-content: space-between;
		}
		
	}
}
