/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	_overlay.scss
 * Date: 	02/06/2020
 * Time: 	13:23
 */

@import "header-game-information";
@import "history";
@import "telemetry-event";

.overlay {
	width: 100vw;
	height: 100vh;
	background: transparentize($cBlack2, .1);
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	
	.h {
		font-size: .8rem;
		
		.copy {
			font-size: 0.6rem;
			padding: 0.2rem 0.3rem;
			min-width: auto;
		}
	}
	
	
	pre {
		color: $cWhite;
		font-size: .5rem;
		max-width: 30rem;
		height: 13rem;
		overflow: auto;
		background: $cBlackTransparentMid;
		border-radius: .1rem;
		border: 1px solid $cRed;
	}
}
