@import "../../style/abstracts/variables";
@import "../../style/abstracts/effects";
@import "../../style/abstracts/mixins";
@import "../../style/vendors/bootstrap_configuration";

.menu-is-shown {
	background: $color-black;
	
	@supports (backdrop-filter: blur(30px)) {
		@include background-acrylic;
	}
}

nav.navbar {
	.navbar-brand {
		background: $gradient-accent;
		border-radius: $border-radius;
		font-size: 1.6rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.discrete-button {
	&.btn {
		border: 0;
	}
	
	.show-navbar {
		font-size: 1.5rem;
	}
}
