@import "../../style/abstracts/variables";
@import "../../style/vendors/bootstrap";

.tag {
	font-size: .6rem;
	background: $color-accent-2-transparent-25;
	border: 1px solid $color-accent-2-transparent-10;
}