/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	_trailer.scss
 * Date: 	22/04/2020
 * Time: 	13:00
 */
@import "../../../../../assets/scss/common/variables";
@import "../common/common";

.trailer {
	
	.t-info {
		@include prefixer(display, flex, ("webkit", "moz", "o"));
		@include prefixer(justify-content, space-between, ("webkit", "moz", "o"));
		@include prefixer(align-items, center, ("webkit", "moz", "o"));
		width: 100%;
		height: 4.5rem;
		@include prefixer(flex-direction, column, ("webkit", "moz", "o"));
		padding: 0 0 .5rem 0;
		
		
		.trailer-data {
			width: 100%;
			padding: 0 1rem;
			@include prefixer(display, flex, ("webkit", "moz", "o"));
			@include prefixer(justify-content, space-between, ("webkit", "moz", "o"));
			
			.job {
				height: 100%;
				text-align: center;
				
				&.disabled {
					color: $cGray;
				}
			}
			
			> * {
				display: block;
				
			}
		}
		
		.job-data {
			width: 100%;
			padding: 0 1rem;
			@include prefixer(display, flex, ("webkit", "moz", "o"));
			@include prefixer(justify-content, space-between, ("webkit", "moz", "o"));
		}
		
	}
}
