/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	_font-face.scss
 * Date: 	06/04/2020
 * Time: 	19:44
 */

@font-face {
	font-family: "roboto";
	src:         url("/font/dashboard/jagfx/Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style:  normal;
}

@font-face {
	font-family: "roboto";
	src:         url("/font/dashboard/jagfx/Roboto-Regular.ttf") format("truetype");
	font-weight: 100;
	font-style:  normal;
}

@font-face {
	font-family: "suprrpg";
	src:         url("/font/dashboard/jagfx/SUPRRG__.TTF") format("truetype");
	font-weight: 100;
	font-style:  normal;
}
