/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	_common.scss
 * Date: 	06/04/2020
 * Time: 	18:26
 */

.licencePlate{
	background: $cRed;
	color: $cBlack;
	font-size: 1rem;
	font-weight: bold;
	@include prefixer( display, inline-flex, ("webkit", "moz") );
	width: 100%;
	@include prefixer( justify-content, space-between, ("webkit", "moz") );
	
	&.left{  }
	&.right{ flex-direction: row-reverse }
	
	.flag {
		padding: 0 .2rem;
		background: darken( $cRed, 15% );
		color: $cWhite;
		height: 100%;
	}
}
