/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	_mixins-truck-brand.scss
 * Date: 	22/04/2020
 * Time: 	18:46
 */

@mixin brandTruckBackground( $brandName ) {
	&.#{$brandName}:before {
		background: url('/img/Truck/brands/#{$brandName}.svg') no-repeat center center;
		content: ' ';
		position: absolute;
		opacity: 0.1;
		width: 25vw;
		height: 27vh;
		left: 38vw;
		z-index: 0;
		background-size: contain;
	}
}
