/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	_scania-bar.scss
 * Date: 	07/02/2022
 * Time: 	21:30
 */

@import "variable";

.scania-bar {
	margin: 1rem 0;
	
	.icon {
		font-size: 3.5rem;
		line-height: 0;
		margin: 0 .5rem;
	}
	
	.line {
		background: $cGreen;
		height: .5rem;
		color: transparent;
		margin: .2rem 1rem;
	}
	
	.squares {
		margin: 0 1rem;
		
		.square {
			background: #fff;
			color: transparent;
			height: 1rem;
			width: 1.85rem;
			margin: .15rem;
			
			&:first-child { margin-left: 0 }
			&:last-child { margin-right: 0 }
		}
	}
	
	.labels {
		.start, .middle, .end {
			font-size: 1.5rem;
			background: $cGrey;
			width: 3rem;
			text-align: center;
			border-radius: 1rem;
			font-weight: bold;
			margin-top: -0.5rem;
		}
	}
	
	.raw {
		.value {
			color: $cGreen;
			margin-right: .2rem;
		}
		
		.unit {
			margin-left: .2rem;
		}
		
		.value, .unit{
			font-size: 2rem;
			height: 1.5rem;
			line-height: 1.2rem;
		}
	}
	
	&.disabled, &.disabled .raw .value {
		color: transparentize( #fff, .5 ) !important;
	}
}