/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	test.scss
 * Date: 	01/05/2020
 * Time: 	17:40
 */

.test {
	&.wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		
		h2 {
			font-size: 10rem;
			text-align: center;
		}
	}
}
