/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	_damage.scss
 * Date: 	06/04/2020
 * Time: 	18:34
 */

.damage {
	background: $cRed;
	color: $cBlack;
	font-size: 1rem;
	font-weight: bold;
	width: 6rem;
	display: flex;
	justify-content: center;
	text-align: center;
	
	&.left{
		margin-left: .5rem;
	}
	
	&.right{
		margin-right: .5rem;
	}
}
