/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	_dash-element.scss
 * Date: 	06/04/2020
 * Time: 	19:49
 */

.dash-element {
	margin: 0;
	display: flex;
	flex-direction: column;
	
	li {
		list-style: none;
		display: flex;
		align-items: center;
		margin: .2rem 0;
		position: relative;
		height: 2.5rem;
		
		span {
			font-size: 1.5rem;
		}
		
		&:after, &:before {
			content: ' ';
			width: 1rem;
			height: 2.5rem;
			background: var(--color-bg);
			border-color: var(--color-red);
			border-style: solid;
			transform-origin: bottom left;
		}
		
		&.multiline{
			height: 3.9rem;
			text-align: left;
			
			&:after, &:before{
				height: 3.9rem;
			}
			
			.round {
				height: 3.9rem;
			}
			
			> span {
				span {
					line-height: 1.5rem;
				}
				
				& > * {
					display: block;
				}
			}
		}
		
		&.red {
			color: var(--color-red);
			
			&:after, &:before {
				border-color: var(--color-red);
			}
		}
		
		&.blue {
			color: var(--color-blue);
			
			&:after, &:before {
				border-color: var(--color-blue);
			}
		}
		
		&.orange {
			color: var(--color-orange);
			
			&:after, &:before {
				border-color: var(--color-orange);
			}
		}
		
		&.white {
			color: var(--color-white);
			
			&:after, &:before {
				border-color: var(--color-white);
			}
		}
		
		&.green {
			color: var(--color-green);
			
			&:after, &:before {
				border-color: var(--color-green);
			}
		}
		
		&.disabled {
			color: #3C3F41;
			
			&:after, &:before {
				border-color: #3C3F41;
			}
		}
		
	}
	
	&.right {
		padding-right: .5rem;
		
		li {
			background: linear-gradient(to left, var(--color-border), transparent);
			justify-content: flex-end;
			text-align: right;
			
			&:after {
				border-width: 0 0 0 2px;
			}
			
			&:before {
				content: none;
			}
			
			@for $i from 1 through 8 {
				&:nth-child(#{$i}) {
					@if ( $i <= 3  ){
						margin: 0.2rem 0 0.2rem;
					} @else {
						$marginElm: ( $i - 3 ) * 1rem;
						margin: 0.2rem $marginElm 0.2rem;
						
						&:not(.multiline){
							&:after {
								transform: skew(-20deg, 0deg);
							}
							
							.round{
								transform: skew(-20deg, 0deg);
							}
						}
					}
					
					
					&.multiline{
						margin-right: 1rem;
					}
				}
			}
			
			.round {
				margin-left: 1rem;
			}
		}
		
	}
	
	&.left {
		padding-left: .5rem;
		
		li {
			background: linear-gradient(to left, transparent, var(--color-border));
			justify-content: flex-start;
			text-align: left;
			
			&:before {
				border-width: 0 2px 0 0;
			}
			
			&:after {
				content: none;
			}
			
			@for $i from 1 through 8 {
				&:nth-child(#{$i}) {
					$marginElm: ( $i - 2 ) * 1rem;
					margin: 0.2rem 0 0.2rem $marginElm;
					
					&.multiline{
						margin: 0.2rem 0;
					}
				}
			}
			
			.round {
				margin-right: 1rem;
			}
			
			&:not(.multiline){
				&:before{
					transform: skew(20deg, 0deg);
				}
				
				.round{
					transform: skew(20deg, 0deg);
				}
			}
		}
		
	}
	
	.round {
		width: 2.5rem;
		height: 2.5rem;
		overflow: hidden;
		background: var(--color-border);
		transform-origin: bottom left;
		padding: 0 .5rem;
		vertical-align: center;
	}
}
