/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	variables.scss
 * Date: 	06/04/2020
 * Time: 	18:42
 */

:root {
	--spacing: 1rem;
	--color-bg: #121212;
	--color-window: rgba(0, 0, 0, 0.5);
	--color-border: rgba(60, 63, 65, 0.2);
	--color-text: #FFF;
	--color-highlight: rgba(114, 224, 209);
	--color-white: #EAEAEA;
	--color-black: #000;
	--color-red: #E00000;
	--color-red-transluicide: rgba(224, 0, 0, 0.2);
	--color-orange: #ff7300;
	--color-green: #00E070;
	--color-gray: #3C3F41;
	--color-yellow: #E0E000;
	--color-blue: #0CB4FF;
	
	--dash-element-skew: 20deg;
	--dash-element-skew-left: var(--dash-element-skew);
	--dash-element-skew-right: calc( -1 * var(--dash-element-skew) );
	
	--dash-element-height: 2.5rem;
	--dash-element-multiline-height: 3.9rem;
	--dash-element-border-width: 2px;
	--dash-element-common-margin: .2rem;
	
	--nav-element-width: 2.2rem;
	--nav-element-color: #212223;
}

$cRed: #E00000;
$cBlue: #0CB4FF;
$cGreen: #00E070;
