/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	variables.scss
 * Date: 	06/04/2020
 * Time: 	18:42
 */

// -----------------------------------------
// --- Common

// --- Color

$cBlack: #121212;
$cBlackTransparentMid: lighten( $cBlack, 0.5 );
$cBlackTransparentHigh: lighten( $cBlack, 3% );
$cWhite: #FFF;
$cWhiteGray: #eaeaea;
$cRed: #E00000;
$cOrange: #ff7300;
$cGreen: #00E070;
$cGray: #3C3F41;
$cYellow: #E0E000;
$cBlue: #0CB4FF;


// -----------------------------------------
// --- Elements

// --- Dash element

$deSkew: 20deg;
$deSkewLeft: $deSkew;
$deSkewRight: - $deSkew;
$deHeight: 2.5rem;
$deMultilineHeight: 3.9rem;
$deMargin: .2rem;

// --- Icons items

$iiWidth: 2.2rem;
$iiColor: #212223;
$iiNbBarSkew: 4;
