@import "_variables.scss";

.fade-enter-active,
.fade-leave-active {
	transition: all $animation;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.animate {
	transition: all $animation;
	
	.delayed {
		transition-delay: $animation-duration;
	}
}