@mixin border-gradient( $color, $width ) {
	position: relative;
	
	&:before {
		content: "";
		position: absolute;
		inset: 0;
		border-radius: 100rem;
		padding: $width;
		background:$color;
		-webkit-mask:
			linear-gradient(#fff 0 0) content-box,
				 linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;
	}
}