/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	_truck-gear.scss
 * Date: 	07/04/2020
 * Time: 	17:56
 */

@import "../../../../../assets/scss/common/variables";

.truck-gear {
	@include prefixer( display, flex, ("webkit", "moz", "o") );
	@include prefixer( justify-content, center, ("webkit", "moz", "o") );
	@include prefixer( align-items, center, ("webkit", "moz", "o") );
	font-weight: bold;
	position: relative;
	//padding-bottom: 1rem;
	
	> .value {
		//background: var(--color-border);
		//background: linear-gradient(to top, var(--color-border), transparent);
		//border-top: 2px solid;
		/*border-top: 2px solid;*/
		//border-image: linear-gradient(to top, transparent, $cRed, transparent) 1;
		/*background: #FFF;
		color: #000;*/
		font-size: 2rem;
		padding: 0.3rem;
		width: 3.5rem;
		line-height: 1rem;
		//height: 3.5rem;
		color: $cWhiteGray;
	}
	
	&.hshifter > .value {
		color: $cRed;
		
		&:first-letter{
			color: $cWhiteGray;
		}
	}
}
