/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	_font-face.scss
 * Date: 	06/03/2022
 * Time: 	14:09
 */

@font-face {
	font-family: 'ww-digital';
	src:         url("/font/dashboard/scania-next-gen/WW-Digital.ttf") format("truetype");
	font-weight: normal;
	font-style:  normal;
}