/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	_gauge-display.scss
 * Date: 	06/03/2022
 * Time: 	13:54
 */

@import "variable";

.gauge-display {
	position: fixed;
	color: $cWhite;
	width: 7.4rem;
	height: 5.1rem;
	top: 19.7rem;
	
	.value {
		font-family: "ww-digital";
		font-weight: normal;
	}
	
	&.left {
		left: 18.8rem;
		
		.speed {
			.value {
				line-height: 2.3rem;
				font-size: 3rem;
			}
			.unit {
				font-size: .8rem;
				line-height: .8rem;
				margin-left: .5rem;
			}
		}
		
		.line {
			.value {
				line-height: 1.3rem;
				font-size: 1.4rem;
			}
			.unit, .trip-label {
				font-size: .8rem;
				line-height: .8rem;
				margin-left: .5rem;
			}
		}
	}
	
	&.right {
		right: 18.6rem;
		justify-content: flex-start !important;
		
		.hour {
			.value {
				line-height: 1.7rem;
				font-size: 2.2rem;
			}
		}
		
		.exterior-temperature {
			.value {
				font-size: 1.7rem;
				line-height: 1.8rem;
			}
			.unit {
				font-size: 1rem;
				line-height: 1.4rem;
				margin-right: .5rem;
				font-family: "ww-digital";
				font-weight: normal;
			}
		}
		
		.adblue {
			i { font-size: 1.5rem; }
		}
	}
}