/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	_gauge-display.scss
 * Date: 	06/03/2022
 * Time: 	13:54
 */

@import "variable";

.gauge-display {
	position: fixed;
	color: $cWhite;
	width: 13.5rem;
	height: 11.5rem;
	top: 17.4rem;
	
	.value {
		font-family: "ww-digital";
		font-weight: normal;
	}
	
	&.left {
		left: 11.5rem;
		
		.speed {
			.value {
				line-height: 4rem;
				font-size: 4.3rem;
			}
			.unit {
				font-size: 1rem;
				line-height: 1.2rem;
				margin-left: .5rem;
			}
		}
		
		.line {
			.value {
				font-size: 2.5rem;
				line-height: 2.2rem;
			}
			.unit, .trip-label {
				font-size: 1rem;
				line-height: 1.2rem;
				margin-left: .5rem;
			}
		}
	}
	
	&.right {
		right: 11.2rem;
		
		.hour {
			.value {
				line-height: 3rem;
				font-size: 3.4rem;
			}
		}
		
		.exterior-temperature {
			.value {
				font-size: 2.5rem;
				line-height: 2.2rem;
			}
			.unit {
				font-size: 1rem;
				line-height: 1.2rem;
				margin-left: .5rem;
			}
		}
		
		.adblue {
			i { font-size: 2.5rem; }
		}
	}
}