/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	_symbols.scss
 * Date: 	08/04/2022
 * Time: 	08:42
 */

@import "variable";

.bodywork {
	position: absolute;
	left: 35.3rem;
	top: 42rem;
	display: flex;
	width: 37.1rem;
	justify-content: space-between;
}

.indicator {
	position: absolute;
	//width: 39.3rem;
	top: 4.7rem;
	
	&.symbols > .symbol {
		width: 4.1rem;
		font-size: 4rem;
		background: transparent;
		align-items: flex-end;
	}
	
	&.left {
		left: 25.1rem;
	}
	&.right {
		left: 78.7rem;
	}
}

.general-warning {
	position: absolute;
	width: 48.4rem;
	top: 4.7rem;
	left: 29.8rem;
	
	.symbols {
		justify-content: flex-start;
	}
	.symbols > .symbol {
		width: 13.13rem;
		font-size: 3.7rem;
		background: transparent;
		
		.icon-scania-driver-safty-belt_red {
			font-size: 2.7rem;
		}
	}
}

.indicator-symbols.symbols {
	display: block;
	
	.symbol {
		position: absolute;
		font-size: 3.6rem;
		
		&.c2 { left: 7rem; top: 40.5rem; }
		&.c3 { left: 11.6rem; 	top: 42rem; }
		&.c12 { right: 11.6rem; 	top: 42rem; }
		&.c13 { right: 7rem; 	top: 40.5rem; }
		&.c14 { right: 2.8rem; 	bottom: 6.6rem; }
	}
}

.symbols {
	display: flex;
	justify-content: center;
	align-items: center;
	
	.symbol {
		width: 4.2rem;
		height: 3.3rem;
		//background: #434343;
		margin-right: .35rem;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 3rem;
		opacity: .6;
		
		&.red { color: $cRed; }
		&.yellow { color: $cYellow; }
		&.green { color: $cGreen; }
		&.blue { color: $cBlue; }
		
		&:last-child{
			margin-right: 0;
		}
	}
}