/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	_variable.scss
 * Date: 	07/02/2022
 * Time: 	19:11
 */

$cBlack: #000;
$cWhite: #FFF;
$cGreen:  #4CFF00;
$cYellow: #FDC200;
$cGrey:   #1C1D21;
$cGreyDark: #151716;
$cGreyLight: #58595b;
$cBlue:   #004dff;
$cRed:    #ED0F02;

$menuButtonDarkenAmount: 20%;
$menuButtonActiveColor: $cGreen;
$menuButtonDefaultColor: $cGreyLight;
$menuButtonRadius: .2rem;
$menuButtonSkewAngle: 15deg;