/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	_water-temperature.scss
 * Date: 	06/03/2022
 * Time: 	19:39
 */

.water-temperature-gauge {
	position: absolute;
	top:      35.8rem;
	right:     10.9rem;
	width:    13.5rem;
	
	&.bars .bar {
		width:  1.1rem;
		height: .3rem;
		background: $cGreyLight;
		
		&.active {
			background: $cWhite;
		}
		
		&.red.active, &:last-child.active {
			background: $cRed;
		}
	}
}