@import "../../../style/abstracts/variables";
@import "../../../style/abstracts/mixins";
@import "../../../style/abstracts/effects";
@import "../../../style/vendors/bootstrap_configuration";

.about-tab {
	.avatar {
		
		@include border-gradient( $gradient-accent, 3px );

		width: $width-avatar;
		
		img	{
			width: $width-avatar;
		}
	}
	
	.author {
		font-size: .9rem;
		overflow: hidden;
	}
	
	.version {
		border-radius: $border-radius;
		color: $color-white;
		margin-bottom: 2rem;
		position: relative;
		
		&.new-version {
			margin-bottom: 4rem !important;
		}
		
		.message {
			bottom: -2rem;
			display: block;
			font-size: 1rem;
			line-height: 1;
			position: absolute;
			right: -3rem;
			text-align: center;
			white-space: inherit;
			width: 8rem;
		}
	}
}