@import "../../style/abstracts/variables";
@import "../../style/vendors/bootstrap";

.badge {
	> .icon {
		background: $gradient-accent;
		border-radius: $border-radius;
		padding: .5rem;
		color: $color-white;
	}
	> .text {
		padding: .2rem 1rem .2rem .5rem;
	}
	
	&.right {
		> .text {
			padding: .2rem .5rem .2rem 1rem;
		}
	}
	
	border: 1px solid transparent;
}