/**
 * @author:	Emmanuel SMITH <hey@emmanuel-smith.me>
 * project:	ets2-dashboard-skin
 * file: 	test.scss
 * Date: 	01/05/2020
 * Time: 	17:40
 */

@import "~bourbon/core/bourbon";

.mercedes-atego {
	
	.wrapper-area {
		display: flex;
		justify-content: center;
		align-items: center;
		
		> span {
			line-height: inherit;
			//margin-top: .5rem;
		}
	}
	
	.dashboard {
		position: absolute;
		background: url("../assets/img/bg-on.jpg") top left no-repeat;
		transform-origin: top left;
		left: 50%;
		top: 50%;
	}
	
	.truck-speed[data-type="meter"] {
		visibility: visible;
		position: absolute;
		left: 358px;
		top: 325px;
		width: 52px;
		height: 184px;
		background-image: url("../assets/img/arrow.png");
		transform: rotate(-114deg);
		transform-origin: 50% 150px;
	}
	.truck-engineRpm {
		position: absolute;
		left: 1087px;
		top: 325px;
		width: 52px;
		height: 184px;
		background-image: url("../assets/img/arrow.png");
		transform: rotate(-97deg);
		transform-origin: 50% 150px;
	}
	.truck-fuel {
		position: absolute;
		left: 265px;
		top: 560px;
		width: 38px;
		height: 94px;
		background-image: url("../assets/img/arrow-s.png");
		transform: rotate(-96deg);
		transform-origin: 50% 70px;
	}
	.truck-airPressure {
		position: absolute;
		left: 1185px;
		top: 560px;
		width: 38px;
		height: 94px;
		background-image: url("../assets/img/arrow-s.png");
		transform: rotate(0deg);
		transform-origin: 50% 70px;
	}
	.truck-speedRounded {
		color: #C6CFD6;
		font-family: Courier New, Courier, monospace;
		font-weight: bold;
		font-size: 100px;
		position: absolute;
		left: 659px;
		top: 343px;
		width: 191px;
		height: 147px;
		text-align: center;
	}
	.truck-gear {
		color: #C6CFD6;
		font-family:  Courier New, Courier, monospace;
		font-weight: bold;
		font-size: 35px;
		position: absolute;
		left: 782px;
		top: 514px;
		width: 67px;
		height: 78px;
		text-align: center;
	}
	.truck-gear[data-value="N"] {
		color: #C6CFD6;
	}
	.truck-gear[data-value="R"] {
		color: #C6CFD6;
	}
	.truck-odometer {
		color: #385C6A;
		font-family: Courier New, Courier, monospace;
		font-weight: bold;
		font-size: 20px;
		position: absolute;
		left: 641px;
		top: 492px;
		width: 208px;
		height: 23px;
		text-align: right;
	}
	.game-time {
		color: #A0A0A0;
		font-family: Courier New, Courier, monospace;
		font-weight: bold;
		font-size: 21px;
		position: absolute;
		left: 638px;
		top: 318px;
		width: 213px;
		height: 26px;
		text-align: right;
	}
	.truck-blinkerLeftOn {
		background-image: url("../assets/img/blinker-left-off.png");
		position: absolute;
		left: 472px;
		top: 281px;
		width: 90px;
		height: 50px;
	}
	.truck-blinkerLeftOn.yes {
		background-image: url("../assets/img/blinker-left-on.png");
	}
	.truck-blinkerRightOn {
		background-image: url("../assets/img/blinker-right-off.png");
		position: absolute;
		left: 925px;
		top: 281px;
		width: 90px;
		height: 50px;
	}
	.truck-blinkerRightOn.yes {
		background-image: url("../assets/img/blinker-right-on.png");
	}
	.truck-lightsBeamHighOn {
		background-image: url("../assets/img/highbeam-off.png");
		position: absolute;
		left: 750px;
		top: 614px;
		width: 40px;
		height: 23px;
	}
	.truck-lightsBeamHighOn.yes {
		background-image: url("../assets/img/highbeam-on.png");
	}
	.truck-lightsBeamLowOn {
		background-image: url("../assets/img/lowbeam-off.png");
		position: absolute;
		left: 695px;
		top: 612px;
		width: 40px;
		height: 23px;
	}
	.truck-lightsBeamLowOn.yes {
		background-image: url("../assets/img/lowbeam-on.png");
	}
	.truck-lightsParkingOn {
		background-image: url("../assets/img/parklights-off.png");
		position: absolute;
		left: 645px;
		top: 614px;
		width: 40px;
		height: 23px;
	}
	.truck-lightsParkingOn.yes {
		background-image: url("../assets/img/parklights-on.png");
	}
	.truck-fuelWarningOn {
		background-image: url("../assets/img/fuel-warning-off.png");
		position: absolute;
		left: 329px;
		top: 626px;
		width: 21px;
		height: 22px;
	}
	.truck-fuelWarningOn.yes {
		background-image: url("../assets/img/fuel-warning.png");
	}
	.truck-airPressureWarningOn {
		background-image: url("../assets/img/warning-off.png");
		position: absolute;
		left: 695px;
		top: 650px;
		width: 45px;
		height: 35px;
	}
	.truck-airPressureWarningOn.yes {
		background-image: url("../assets/img/warning.png");
	}
	.truck-parkBrakeOn {
		background-image: url("../assets/img/parkingbrake-off.png");
		position: absolute;
		left: 645px;
		top: 650px;
		width: 45px;
		height: 35px;
	}
	.truck-parkBrakeOn.yes {
		background-image: url("../assets/img/parkingbrake.png");
	}
	.truck-retarderBrake {
		color: #C6CFD6;
		font-family: Courier New, Courier, monospace;
		font-weight: bold;
		font-size: 1.7rem;
		position: absolute;
		left: 735px;
		top: 514px;
		width: 50px;
		height: 42px;
		text-align: center;
	}
	.truck-retarderBrake[data-value="1"] {
		color: #FF0000;
	}
	.truck-retarderBrake[data-value="2"] {
		color: #FF0000;
	}
	.truck-retarderBrake[data-value="3"] {
		color: #FF0000;
	}
	.truck-retarderBrake[data-value="4"] {
		color: #FF0000;
	}
	.truck-retarderBrake[data-value="5"] {
		color: #FF0000;
	}
}
